@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=Rubik+Puddles&display=swap');
:root {
	--light-gray: #ccc;
	--dark-gray: rgb(64, 63, 63);
	--light-gray-01: #979797;
	--theme-light-blue: #4fadff;
	--theme-dark-blue: #1345cf;
	--gradient-light-blue: rgba(79, 173, 255, 0.8);
	--gradient-dark-blue: rgba(19, 69, 207, 0.4);
	--spinner-light-blue: #4fadff;
}
* {
	margin: 0;
	padding: 0;
	min-width: 0;
	min-height: 0;
	box-sizing: border-box;
	min-width: 0;
	min-height: 0;
}

body {
	max-width: 520px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

.logo-text {
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: x-large;
	font-family: 'Rubik Puddles', cursive;
	font-weight: bold;
}
a {
	text-decoration: none;
}

.btn {
	font-family: 'Roboto', sans-serif;
	font-weight: 0;
	font-size: 1.2rem;
	color: #fff;
	background-color: var(--theme-dark-blue);
	padding: 10px 30px;
	border: 2px solid var(--theme-dark-blue);
	box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
	border-radius: 50px;
	transition: 1000ms;
	transform: translateY(0);
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.heading {
	font-size: 2.5vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	letter-spacing: 0.02rem;
	color: var(--dark-gray);
}

.infoText {
	font-size: 1.8vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: 0.01rem;
	color: var(--light-gray-01);
	max-width: 100%;
}

.standard-button {
	border: none;
	outline: none;
	color: #fff;
	padding: 1.5vh 4vw;
	cursor: pointer;
	transition: 0.3s ease-in all;
	background-color: var(--theme-dark-blue);
	font-size: 2.4vh;
	width: fit-content;
	border-radius: 0.25rem;
	margin: 0 auto;
}
